.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-none{
    display: none;
}
.box{
    margin-top: 30px;
}
#result-left{
    height: 50px;
    width: 30%;
    background-color: rgba(255,0,0,0.5);
    padding: 15px;
}
#result-right{
    height: 50px;
    width: 70%;
    background-color: rgba(0,0,0,0.1);
    padding: 15px;
}
table{
    margin: 0 auto;
}
th,td{
    text-align: center;
    padding: 0px 30px;
}
#user{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}